// MawiOne
// Theme Light Css
// V 1.0.0
:root {
  --body-font: 'Raleway', sans-serif;
  --title-font: 'Raleway', sans-serif;
  --meta-font: 'Raleway', sans-serif;
  --text-font: 'Raleway', sans-serif;
  --text-font-color: #505050;
  --runs-solid-color: #c1bbbb;
  --black-color: #404040;
  --hero-color: #aaaaaa;
  --main-menu-bg: linear-gradient(45deg, #a3d9ff, #4bb3fc, #1094f4);
  --snippet-color: #aba4a4;
  --solid-border: #ddd;
  --featured-posts-title: #333333;
  --button-bg-color: #1094f4;
  --button-text-color: #ffffff;
  --lables-buttons-color: #1094f4;
  --lables-text-color: #ffffff;
  --email-bg-color: #803dec;
  --email-text-color: #ffffff;
  --cloud-bg-color: #1094f4;
  --cloud-border-color: #1094f4;
  --list-text-color: #333333;
  --theme-text-color: #3e3e3e;
  --featured-gadgets-title: #e8e8e8;
  --placeholder-text-color: #3e3e3e;
  --main-menu-text-color: #ffffff;
  --sub-menu-text-color: #3a3a3a;
  --footer-title-color: #101010;
  --footer-copyright-bg: #00000000;
  --body-color-main: #f4f4f4;
  --all-link-color: #2b64ff;
  --black-text: #343434;
  --main-text-color: #101010;
  --rRlLmii-bg: #ffffff;
  --white-bg: #ffffff;
  --block-bg: #ffffff;
  --paint-cards: #f7faff;
  --featured-posts-title-featured: #ffffff;
  --white-label-color: #ffffff;
  --color-section: #1094f4;
  --color-section1: #1094f4;
  --color-section-text: #ffffff;
  --bg-cards: #ffffff;
  --bg-cards-video: #121212;
  --bg-cards-shadow: 0px 3px 3px 0 rgb(33 33 33 / 0.03);
  --bt-breaking: rgba(0 0 0 / 0.08);
  --bt-breaking-text: #626262;
  --shadow-top: 0 0 20px rgba(0, 0, 0, .15);
  --shadow-top-fixed: 5px 5px 8px 0px rgba(224 223 223 / 0.48);
  --ads-bg: rgb(143 183 255 / 0.20);
  --ads-text: #898989;
  --buttons-category-text: #1d1d1d;
  --snip-text-color: #eeeeee;
  --search-bt-text: #333333;
  --comments-dec: #333;
  --sticky-bg: #f1f1f1;
  --input-form: transparent;
  --footer-email-title: #101010;
  --bt-home: #f2f7fb;
  --cm-count: #555555;
  --shadow-light: 0px 2px 5px 1px rgb(0 0 0 / 0.10);
  --xliil-text: #4e4e4e;
  --sticky-lists: #f7fcff;
  --post-snip-data: #707070;
  --post-snip-open: #383838;
  --ico-relative: #ff0000;
  --front-bg-lists: #fff;
  --share-author-links: #585858;
  --box-posts-share: #f1f1f1;
  --title-share: #1c1c1c;
  --title-share-fa: #5c5c5c;
  --footer-text-color: #101010;
  --footer-about-text: #383838;
  --footer-bg-color: #15202b;
  --footer-gadgets-title: #e8e8e8;
  --main-logo-text-color: #222222;
  --submenu-bg-color: #ffffff;
  --comment-content: #f6f6f6;
  --comment-text: #5e5e5e;
  --label-text-color: #2c2c2c;
  --pager-text-color: #6d6d6d;
  --back-top: rgb(90 90 90 / 0.18);
  --box-shadows: rgb(102 102 102 / 0.13);
}
